html,
body {
	background: #F2F2F2;
	height: 100%;
}

.mui-indexed-list-empty-alert {
	display: none;
}

.mui-indexed-list-item {
	display: inline-block;
	margin-right: 4%;
	margin-bottom: 15px;
	height: 40px;
	width: 28%;
	background: #FFFFFF;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	/*px*/
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid rgb(204, 204, 204);
	/*no*/
}

.mui-province-group,
.mui-indexed-list-search {
	margin-left: 4%;
	font-size: 15px;
	/*px*/
}

.mui-indexed-list-group {
	height: 25px;
	margin-bottom: 10px;
}

.mui-location div {
	float: left;
}

.mui-location {
	height: 45px;
	background: #FFFFFF;
	line-height: 45px;
	font-size: 15px;
	/*px*/
	margin-bottom: 15px;
	border-top: 1px solid rgb(204, 204, 204);
	/*no*/
	border-bottom: 1px solid rgb(204, 204, 204);
	/*no*/
}

@media only screen and (max-width: 320px) {
	.location-des {
		font-size: 12px;
		/*px*/
	}
}

@media only screen and (min-width: 330px) and (max-width: 360px) {
	.location-des {
		font-size: 14px;
		/*px*/
	}
}

.mui-bar-nav.mui-bar a.mui-icon {
	font-size: 30px;
	/*px*/
	color: #000;
}